.opening {
    margin-left: 30%;
    margin-top: 20px;
    margin-right: 30%;
}

.header {
    background-color: lightgrey;
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    width: 300%;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table thead tr {
    background-color: cornflowerblue;
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid lightgrey;
}

.content-table tbody tr:nth-last-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid cornflowerblue;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: rebeccapurple;
}
